extends home
block content
    h1 Task Details
    p Nombre: #{info["name"]}
    br
    p Autor: #{info["author"]}
    br
    p Descripcion: #{info["description"]}
    br
    p Fecha: #{info["date"]}
    br
    p Status: #{info["priority"]}


